<div class="container mt-5">
    <div style="text-align: center;">
        <h1>Visualize Datasets Instantly</h1>
        <p class="lead">Discover and search through public datasets without the need to sign up. Easily paste CSV content to view it in table format on the go. Sign up or log in to create and manage your own private datasets.</p>
        <div class="text-center">
            <button routerLink="/datasets" routerLinkActive="active" class="btn btn-primary btn-lg me-2">Explore Public Datasets</button>
            <button routerLink="/viewCsv" routerLinkActive="active" class="btn btn-primary btn-info btn-lg">Visualize CSV Data</button>
        </div>
    </div>
</div>
