<div class="container mt-5">
    <div style="text-align: center;">
        <h1>Visualize CSV Data Easily</h1>
        <p class="lead">Find public datasets and view CSV content in a table format by simply pasting the data. Sign in with Google to save your CSV data and provide information for each dataset.</p>
        <div class="text-center">
            <button routerLink="/datasets" routerLinkActive="active" class="btn btn-primary btn-lg me-2">Explore Public Datasets</button>
            <button routerLink="/viewCsv" routerLinkActive="active" class="btn btn-primary btn-info btn-lg">Visualize CSV Data</button>
        </div>
    </div>
</div>
